/*********************/
/* ラベル/バッジ表示 */
/*********************/

/* タグ（ラベル表示） */
.label.tag-series{ /* シリーズタグ */
	color: #FFFFFF;
	background-color: #53B44A;
}
.label.tag-caution{ /* 閲覧注意タグ */
	color: #FFFFFF;
	background-color: #E44A53;
}

/* ステージ（バッジ表示） */
.badge.stage{/* ステージ：基本 */
	background-color: #B44A53;
	color: #FFFFFF;
	font-size: 0.75em;
}

/* キャラクター（バッジ表示） */
.badge.character{/* キャラクター：基本 */
	background-color: #4A53B4;
	color: #FFFFFF;
	font-size: 0.75em;
	margin: 3px;
	padding: .2em .6em .3em:
}

/* ジャンル */
.label-genre{
	display: inline;
	padding: .2em .6em .3em;
	font-size: 75%;
	font-weight: 700;
	line-height: 1;
	color: #fff;
	background-color: #666666;
	text-align: center;
	white-space: nowrap;
	vertical-align: baseline;
}

/* 詳細ページでのタグ表示エリア */
.detail-tag, .detail-genre{
	margin-bottom: 0.5em;
}

/**************/
/* お気に入り */
/**************/

/* アイコン */
.is_favorite_icon{
	font-size: 1.2em;
	color: #fe416b;
}

/************/
/* 一覧表示 */
/************/

.ul-list{
	list-style: none;
}
.ul-list > li{
	position: relative;
	margin: 1em 0 1em 0;
}
.ul-list > li > span{
	display: inline-block;
}
.ul-list > li > .is_private{
	margin: -10px;
	padding: 0px 15px 0 0;
	width: 2em;
}
.ul-list > li > .tag{
	padding: 0px 15px 0 0;
}
.ul-list > li > .stage{
	padding: 0px 15px 0 0;
}
.ul-list > li .folder{
	margin-top: 0.5em
}

.margin1{ margin: 1em; }

/****************/
/* タイムライン */
/************++**/

/* タイムライン共通 */
ul.timeline{
	margin: 1em;
}
.timeline > li{
	margin-bottom: 0.5em;
}
.timeline-title a{
	color: #FFFFFF;
	display: block;
}
.timeline-title, .timeline-body{
	padding: 7px !important;
}
.timeline-body p{
	margin: 0;
}

/* キャラクタータイムライン用 */
.timeline-stage_name{
	width: 100%;
	display: grid;
	margin-left: -0.5em;
}

/**********/
/* 画像系 */
/**********/

.character-image-view{
	max-width: 100%;
	max-height: 200px;
}
.character-image-list{
	height: 2em;
	margin: 0.1em;
}
.user-image-view{
	max-width: 90%;
	max-height: 150px;
}

/********/
/* 全般 */
/********/

/* .boxの枠線消し */
.box.box-no-border{
	border-top: 0;
	box-shadow: none;
}

/* コピー用テンプレート（非表示にする） */
.template-for-copy{
	display: none !important;
}

/* 右寄せ */
.text-align-right{
	text-align: right;
}

/* 中央寄せ */
.text-align-center{
	text-align: center;
}

/* カーソル変更：非リンク向け */
.clickable{
	cursor: pointer;
}

/* ツールチップ */
.menu-tooltip {
	position: relative;
	display: inline-block;
	cursor: pointer;
}
.menu-tooltip .menu-tooltiptext {
	position: absolute;
	z-index: 1;
	bottom: 110%;
	visibility: hidden;
	width: auto;
	white-space: nowrap;
	padding: 0.3em 0.5em;
	transition: opacity 1s;
	opacity: 0;
	color: #ffffff;
	border-radius: 6px;
	letter-spacing: 0px;
	left: -10px;
	background-color: #666666;
	font-size: 0.75em;
}
.menu-tooltip .menu-tooltiptext::after {
	position: absolute;
	top: 100%;
	margin-left: -5px;
	content: ' ';
	border: 5px solid transparent;
}
.menu-tooltip:hover .menu-tooltiptext {
	visibility: visible;
	opacity: 1;
}

/* ヒント */
p.hint-box {
	color: white;
	background-color: black;
	opacity: 0.3;
	margin: 1em;
	border-radius: 5px;
	text-align: center;
	padding: 0.1em;
	font-size: 0.75em;
}
.hint-box-toggle {
	cursor: pointer;
}

/* 操作無効 */
.disabled{
	color: #CCCCCC !important;
}