/* タグ */
.label.tag-base{ /* タグ：基本 */
	color: #FFFFFF;
}
.label.tag-genre{ /* ジャンルタグ */
	background-color: #333333;
}
.label.tag-series{ /* シリーズタグ */
	background-color: #53B44A;
}
.label.tag-caution{ /* 閲覧注意タグ */
	background-color: #E44A53;
}
.label.tag-notselected{ /* 未選択タグ */
	background-color: #CCCCCC;
}

/* バッジ：ステージ */
.badge.stage{/* ステージ：基本 */
	background-color: #B44A53;
	color: #FFFFFF;
	font-size: 0.75em;
}
.badge.stage-notselected{ /* 未選択ステージ */
	background-color: #CCCCCC;
}

/* バッジ：キャラクター */
.badge.character{/* キャラクター：基本 */
	background-color: #4A53B4;
	color: #FFFFFF;
	font-size: 0.75em;
	margin: 3px;
	padding: .2em .6em .3em:
}
.badge.character-notselected{ /* 未選択キャラクター */
	background-color: #CCCCCC;
}

/****************/
/* 管理ページ用 */
/****************/

/* 鍵アイコン */
.is_private_icon{
	font-size: 0.9em;
	opacity: 0.6;
}
.is_private_icon.clickable{
	font-size: 1.2em;
	opacity: 1.0;
}
.is_private_icon.is_private_0{
	color: #CCCCCC;
}
.is_private_icon.is_private_1{
	color: #f39c12;
}
.timeline-editable > .is_private_icon{
	margin-left: -0.5em;
	margin-top: 0.2em;
	position: absolute;
}

/* 管理用タイムライン */
.timeline.timeline-character{
	margin: 1em 0 30px 1em;
}
.timeline.timeline-stage{
	margin: 30px 0 30px 1em;
}
.timeline.timeline-stage > li{
	margin: 0em 1em 0.5em 0;
}
.float-button-area{
	position: fixed;
	bottom: 2em;
	right: 0.5em;
	font-size: 1.8em;
	opacity: 0.7;
}
.float-button-area > p{
	border-radius: 50%;
	background-color: #000000;
	color: #FFFFFF;
	text-align: center;
	height: 1.8em;
	width: 1.8em;
	line-height: 1.8em;
}
.timeline-header.timeline-title{
	padding: 7px !important;
}
.timeline-body{
	padding: 7px !important;
}
.timeline-body p{
	margin: 0;
}
.timeline-stage_name{
	width: 100%;
	display: grid;
}
.timeline-label_title{
	margin-left: 0.5em;
}
.timeline-editable > span.timeline-label-title{
	padding-left: 1em;
	margin-left: -0.7em;
	padding-right: 1em;
}
.timeline-editable > .timeline-label-title > .is_private_icon{
	margin-left: -0.7em;
}

/* 管理画面ステージ一覧 */
.ul-stage{
	list-style: none;
}
.ul-stage > li{
	position: relative;
	margin: 1em 0 1em 0;
}
.ul-stage > li > span{
	display: inline-block;
}
.stage_list > .is_private{
	margin: -10px;
	padding: 0px 15px 0 0;
	width: 2em;
}
.stage_list .name{
	width: 15em;
	display: inline-block;
}
.stage_list > .tag{
	padding: 0px 15px 0 0;
}

/* 管理画面キャラクター一覧 */
.ul-character{
	list-style: none;
}
.ul-character > li{
	position: relative;
	margin: 1em 0 1em 0;
}
.ul-character > li > span{
	display: inline-block;
}
.ul-character .character_list .folder{
	margin-top: 0.5em
}
.character_list > .is_private{
	margin: -10px;
	padding: 0px 15px 0 0;
	width: 2em;
}
.character_list .name{
	width: 10em;
	display: inline-block;
}
.character_list > .stage{
	padding: 0px 15px 0 0;
}

/* ソート関連 */
.sort_mode_on{
	display: none;
}
.timeline-sort-area.sortable .timeline-free_text{
	overflow: hidden;
    height: 1.2em;
}

/* 管理用ステージ：説明文 */
.private-stage-remarks{
	margin: 1em;
	padding: 0.5em;
	background: #EEEEEE;
	border-radius: 0.5em;
}

/* 管理用ステージ：タグ */
.detail-tag{
	margin: 1em;
}

/* 管理用キャラクター：説明文 */
.private-character-remarks{
	margin: 1em;
	padding: 0.5em;
	background: #EEEEEE;
	border-radius: 0.5em;
}

/* 管理用キャラクター：ステージ */
.private-character-stage{
	margin: 1em;
}

/* 管理用キャラクター：詳細プロフィール */
.ul-character_profile > li .view_mode div.character_profile_a {
	font-size: 0.85em;
	padding: 0.5em;
	margin: 0.5em;
	background: #EEEEEE;
	border-radius: 0.5em;
}
.ul-character_profile > li .view_mode div.override{
	color: #EEEEEE;
	background: #666666;
}
.ul-character_profile > li .view_mode div.profile_indent_1{
	margin-left: 1em;
}
.ul-character_profile > li .view_mode div.profile_indent_2{
	margin-left: 2em;
}
.ul-character_profile > li .view_mode div.current{
	margin-left: 0.5em;
	border: solid 1px #666666;
}
.ul-character_profile .character_profile_button_area{
	font-size: 1.2em;
}
.ul-character_profile > li textarea{
	display: inline-block;
	font-size: 0.85em;
}

/* アカウント管理：URL記載スペース */
.private-url{
	padding: 0.5em;
	background: #FFFFFF;
	border-radius: 0.5em;
	margin-bottom: 1em;
}

/* お気に入り：非リンク */
.ul-favorite > li.notlink span{
	color: #999999;
}
/* お気に入り：作者 */
.ul-favorite > li .author{
	color: #999999;
	font-size: 0.7em;
	margin-left: 0.5em;
}

/* タグ選択エリア */
.form-group div.tag_category{
	margin-left: 1em;
}
.form-group p{
	margin-top: 0.5em;
	margin-bottom: 0;
}

.character_profile_delete_icon.disabled{
	color: #CCCCCC;
}

/* オーバーライド：エピソード */
#set_forms-override .character-folder.clickable{
	color: white;
	background-color: #4A53B4;
	margin: 1em;
	border-radius: 2px;
	padding: 0.3em;
}
.profile_reference{
	padding: 1em;
}
.not_override .profile_reference .profile_reference_title{
	background: #CCCCCC;
}
.override .profile_reference .profile_reference_title{
	background: #999999;
}
.profile_reference .profile_reference_title{
	padding: 2px;
	border-radius: 5px;
}
.profile_reference .profile_reference_content{
	padding: 5px 5px 10px 10px;
}


/****************/
/* 公開ページ用 */
/****************/

/* 登録日時＋ツール */
.public-info-box{
	font-size: 0.75em;
	color: #999999;
}

/* 公開ステージ：説明文 */
.public-stage-remarks{
	margin: 1em 2em;
	padding: 0.5em;
	background: #EEEEEE;
	border-radius: 0.5em;
}

/* 公開キャラクター：説明文 */
.public-character-remarks{
	margin: 1em 2em;
	padding: 0.5em;
	background: #EEEEEE;
	border-radius: 0.5em;
}

/* アカウント：コメント */
.public-user-remarks{
	margin: 1em 0;
	padding: 0.5em;
	background: #EEEEEE;
	border-radius: 0.5em;
}

/* お気に入りアイコン */
.is_favorite_icon{
	font-size: 1.2em;
	color: #fe416b;
}

.li-character_profile.public{
	padding: 0.5em;
}

/****************/
/* 一般ページ用 */
/****************/

/* ヘルプページ */
.help-update_stamp{
	color: #999;
	float: right;
	padding: 10px;
	font-size: 12px;
}

/* ユーザーページ */
.public-user-panel .img-user{
	max-width: 150px;
	margin: 1em;
}
/********/
/* 全般 */
/********/

/* リンクのクリック範囲を広げる */
table a {
	display: block;
}
li a {
	display: block;
}

/* コピー用テンプレート（非表示にする） */
.template-for-copy{
	display: none !important;
}

/* 右寄せ */
.text-align-right{
	text-align: right;
}

/* 中央寄せ */
.text-align-center{
	text-align: center;
}

/* カーソル変更：非リンク向け */
.clickable{
	cursor: pointer;
}

/* ツールチップ */
.menu-tooltip {
	position: relative;
	display: inline-block;
	cursor: pointer;
}
.menu-tooltip .menu-tooltiptext {
	position: absolute;
	z-index: 1;
	bottom: 110%;
	visibility: hidden;
	width: auto;
	white-space: nowrap;
	padding: 0.3em 0.5em;
	transition: opacity 1s;
	opacity: 0;
	color: #ffffff;
	border-radius: 6px;
	letter-spacing: 0px;
	left: -10px;
	background-color: #666666;
	font-size: 0.75em;
}
.menu-tooltip .menu-tooltiptext::after {
	position: absolute;
	top: 100%;
	margin-left: -5px;
	content: ' ';
	border: 5px solid transparent;
}
.menu-tooltip:hover .menu-tooltiptext {
	visibility: visible;
	opacity: 1;
}

/* ヒント */
p.hint-box {
	color: white;
	background-color: black;
	opacity: 0.3;
	margin: 1em;
	border-radius: 5px;
	text-align: center;
	padding: 0.1em;
	font-size: 0.75em;
}

.hint-box-toggle {
	cursor: pointer;
}
