/* ログイン・ログアウト */
.logged-in{ /* ログイン状態 */
    display: none;
}
.logged-out{ /* ログアウト状態 */
    display: none;
}

/* タグ */
.label.tag-base{ /* タグ：基本 */
	color: #FFFFFF;
	margin: 0 5px;
}
.label.tag-selectable{ /* 選択が可能なタグ */
	cursor: pointer;
}
.label.tag-series{ /* シリーズタグ */
	background-color: #53B44A;
}
.label.tag-notselected{ /* 未選択タグ */
	background-color: #CCCCCC;
}


/* **************************************** */


/* テーブル内リンクをセル全体に広げる */
table a {
    display: block;
}

/* コピー用テンプレート（非表示にする） */
.template-for-copy{
	display: none;
}

/* ツールチップ */
.menu-tooltip {
    position: relative;
    display: inline-block;
    cursor: pointer;
}
.menu-tooltip .menu-tooltiptext {
    position: absolute;
    z-index: 1;
    bottom: 110%;
    visibility: hidden;
    width: auto;
    white-space: nowrap;
    padding: 0.3em 0.5em;
    transition: opacity 1s;
    opacity: 0;
    color: #ffffff;
    border-radius: 6px;
    letter-spacing: 0px;
    left: -10px;
    background-color: #666666;
    font-size: 0.75em;
}
.menu-tooltip .menu-tooltiptext::after {
    position: absolute;
    top: 100%;
    margin-left: -5px;
    content: ' ';
    border: 5px solid transparent;
}
.menu-tooltip:hover .menu-tooltiptext {
    visibility: visible;
    opacity: 1;
}