/* ************ */
/* 管理用ページ */
/* ************ */

/* 各ページ共通：鍵アイコン */
.is_private_icon{
	font-size: 0.9em;
	opacity: 0.6;
}
.is_private_icon.clickable{
	font-size: 1.2em;
	opacity: 1.0;
}
.is_private_icon.is_private_0{
	color: #CCCCCC;
}
.is_private_icon.is_private_1{
	color: #f39c12;
}
.timeline-editable > .is_private_icon{
	margin-left: -0.5em;
	margin-top: 0.2em;
	position: absolute;
}

/* お気に入り管理ページ */
.ul-favorite > li.notlink span{
	color: #999999;
}
.ul-favorite > li .author{
	color: #999999;
	font-size: 0.7em;
	margin-left: 0.5em;
}

/* 通知ページ */
.notice-icon.unread{
	color: #dd4b39;
}
.notice-icon.read{
	color: #CCCCCC;
}

/* 説明文（ステージ・キャラクター） */
.remarks-area{
	margin: 1em;
	padding: 0.5em;
	background: #EEEEEE;
	border-radius: 0.5em;
}

/* URL記載スペース */
.url-info{
	padding: 0.5em;
	background: #FFFFFF;
	border-radius: 0.5em;
	margin-bottom: 1em;
}

/* 未選択タグ・ステージ */
.notselected{
	background-color: #CCCCCC !important;
}

/* タイムライン編集 */
.timeline-shortcut-area{
	position: fixed;
	bottom: 2em;
	right: 0.5em;
	font-size: 1.8em;
	opacity: 0.7;
}
.timeline-shortcut-area > p{
	border-radius: 50%;
	background-color: #000000;
	color: #FFFFFF;
	text-align: center;
	height: 1.8em;
	width: 1.8em;
	line-height: 1.8em;
}

/* ソート関連 */
.sort_mode_on{
	display: none;
}
.timeline-sort-area.sortable .timeline-free_text{
	overflow: hidden;
    height: 1.2em;
}

