/* ******** */
/* 共通部分 */
/* ******** */

#page_top a.logo{
	font-size: 0.9em;
}

/*********************/
/* ラベル/バッジ表示 */
/*********************/

/* タグ（ラベル表示） */
.label.tag-series{ /* シリーズタグ */
	color: #FFFFFF;
	background-color: #53B44A;
}
.label.tag-caution{ /* 閲覧注意タグ */
	color: #FFFFFF;
	background-color: #E44A53;
}

/* ステージ（バッジ表示） */
.badge.stage{/* ステージ：基本 */
	background-color: #B44A53;
	color: #FFFFFF;
	font-size: 0.75em;
}

/* キャラクター（バッジ表示） */
.badge.character{/* キャラクター：基本 */
	background-color: #4A53B4;
	color: #FFFFFF;
	font-size: 0.75em;
	margin: 3px;
	padding: .2em .6em .3em:
}

/* ジャンル */
.label-genre{
	display: inline;
	padding: .2em .6em .3em;
	font-size: 75%;
	font-weight: 700;
	line-height: 1;
	color: #fff;
	background-color: #666666;
	text-align: center;
	white-space: nowrap;
	vertical-align: baseline;
}

/* 詳細ページでのタグ表示エリア */
.detail-tag, .detail-genre{
	margin-bottom: 0.5em;
}

/**************/
/* お気に入り */
/**************/

/* アイコン */
.is_favorite_icon{
	font-size: 1.2em;
	color: #fe416b;
}

/************/
/* 一覧表示 */
/************/

.ul-list{
	list-style: none;
}
.ul-list > li{
	position: relative;
	margin: 1em 0 1em 0;
}
.ul-list > li > span{
	display: inline-block;
}
.ul-list > li > .is_private{
	margin: -10px;
	padding: 0px 15px 0 0;
	width: 2em;
}
.ul-list > li > .tag{
	padding: 0px 15px 0 0;
}
.ul-list > li > .stage{
	padding: 0px 15px 0 0;
}
.ul-list > li .folder{
	margin-top: 0.5em
}

.margin1{ margin: 1em; }

.character-list-grid{
	display: grid;
	grid-template-rows: 1em 2em;
	grid-template-columns: 3em 1fr;
}
.character-list-grid-image{
	grid-row: 1 / 3;
	grid-column: 1 / 2;
}
.character-list-grid-name{
	grid-row: 1 / 2;
	grid-column: 2 / 3;
}
.character-list-grid-remarks{
	grid-row: 2 / 3;
	grid-column: 2 / 3;
	font-size: 0.7em;
	margin-top: 0.5em;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

/****************/
/* タイムライン */
/************++**/

/* タイムライン共通 */
ul.timeline{
	margin: 1em;
}
.timeline > li{
	margin-bottom: 0.5em;
}
.timeline-title a{
	color: #FFFFFF;
	display: block;
}
.timeline-title, .timeline-body{
	padding: 7px !important;
}
.timeline-body p{
	margin: 0;
}

/* キャラクタータイムライン用 */
.timeline-stage_name{
	width: 100%;
	display: grid;
	margin-left: -0.5em;
}

/* ****************** */
/* キャラクター相関図 */
/* ****************** */

/* 表示レイアウト */
.relation_view_panel{
	text-align: center;
	display: grid;
	grid-template-rows: auto 4em auto;
	grid-template-columns: 6.5em 1fr 6.5em;
}
.relation_view_panel .character_relation-self{
	grid-row: 1 / 4;
	grid-column: 1 / 2;
	margin: auto;
}
.relation_view_panel .character_relation-free_text_a{
	grid-row: 1 / 2;
	grid-column: 2 / 3;
	text-align: left;
	padding-left: 1em;
}
.relation_view_panel .character_relation-arrow{
	grid-row: 2 / 3;
	grid-column: 2 / 3;
}
.relation_view_panel .character_relation-free_text_b{
	grid-row: 3 / 4;
	grid-column: 2 / 3;
	text-align: right;
	padding-right: 1em;
}
.relation_view_panel .character_relation-another{
	grid-row: 1 / 4;
	grid-column: 3 / 4;
	margin: auto;
}

/* キャラクター */
.relation_view_panel .character_relation_character{
	font-size: 0.85em;
	padding: 0.5em;
	margin: auto;
	border-radius: 0.5em;
}

/* タイトル */
.character_relation-arrow span{
	position: absolute;
	margin: auto;
	top: -0.5em;
	bottom: 0;
	left: 0;
	right: 0;
}

/* 矢印 */
.relation-arrow_right:not(.relation-arrow_left){
	top: 1em;
}
.relation-arrow_left:not(.relation-arrow_right){
	top: 2em;
}
.relation-arrow_right.relation-arrow_left{
	top: 1.5em;
}
.relation-arrow_bar{
	position: relative;
	width: 90%;
	height: 0.4em;
	left: 5%;
	background: #BBBBBB;
	box-sizing: border-box;
	border-radius: 0.2em;
}
.relation-arrow_right::after{
	content: "";
	position: absolute;
	top: -0.6em;
	right: -0.5em;
	border-left: 1.2em solid #BBBBBB;
	border-top: 0.8em solid transparent;
	border-bottom: 0.8em solid transparent;
	border-radius: 0.2em;
}
.relation-arrow_left::before{
	content: "";
	position: absolute;
	top: -0.6em;
	left: -0.5em;
	border-right: 1.2em solid #BBBBBB;
	border-top: 0.8em solid transparent;
	border-bottom: 0.8em solid transparent;
	border-radius: 0.2em;
}

/* フリーテキスト */
.relation_view_panel .character_relation_free_text > span{
	font-size: 0.85em;
	margin: 0.2em;
	padding: 0.5em 0.7em;
	background: #DDDDDD;
	border-radius: 0.5em;
	display: inline-block;
	max-width: 70%;
	word-wrap: break-word;
}
.relation_view_panel .character_relation-free_text_a > span::before{
	content: "";
	border-style: solid;
	border-width: 0.5em 1em 0.5em 0;
	border-color: transparent #DDDDDD transparent transparent;
	position: absolute;
	margin-top: 0.5em;
	margin-left: -1.5em;
}
.relation_view_panel .character_relation-free_text_b > span::after{
	content: "";
	border-style: solid;
	border-width: 0.5em 0 0.5em 1em;
	border-color: transparent transparent transparent #DDDDDD;
	position: absolute;
	margin-top: 0.5em;
	margin-left: 0.5em;
}

/**********/
/* 画像系 */
/**********/

.character-image-view{
	max-width: 100%;
	max-height: 200px;
}
.character-image-list{
	height: 2.5em;
	margin: 0.1em;
}
.character-image-relation{
	max-height: 5em;
}
.user-image-view{
	max-width: 90%;
	max-height: 150px;
}

/********/
/* 全般 */
/********/

/* .boxの枠線消し */
.box.box-no-border{
	border-top: 0;
	box-shadow: none;
}

/* コピー用テンプレート（非表示にする） */
.template-for-copy{
	display: none !important;
}

/* 右寄せ */
.text-align-right{
	text-align: right;
}

/* 中央寄せ */
.text-align-center{
	text-align: center;
}

/* カーソル変更：非リンク向け */
.clickable{
	cursor: pointer;
}

/* ヒント */
p.hint-box {
	color: white;
	background-color: black;
	opacity: 0.3;
	margin: 1em;
	border-radius: 5px;
	text-align: center;
	padding: 0.5em;
	font-size: 0.75em;
}

/* 操作無効 */
.disabled{
	color: #CCCCCC !important;
}