/* ************ */
/* 公開用ページ */
/* ************ */

/* ユーザーページのアイコン表示 */
.public-user-panel .img-user{
	margin: 1em;
	max-width: 90%;
	max-height: 150px;
	min-width: 50px;
}

/* キャラクタープロフィール */
.li-character_profile{
	padding: 0.5em;
}
.character_profile_a {
	font-size: 0.85em;
	padding: 0.5em;
	margin: 0.5em;
	background: #EEEEEE;
	border-radius: 0.5em;
}

/* 説明文（ステージ・キャラクター・アカウント） */
.remarks-area{
	margin-bottom: 1em;
	padding: 0.5em;
	background: #EEEEEE;
	border-radius: 0.5em;
}

/* 登録日時＋各種アイコン */
.info-box{
	font-size: 0.75em;
	color: #999999;
}

/* 誘導メッセージ */
.induction-box{
	padding: 0.5em;
	background: #39CCCC;
	margin-bottom: 1em;
	text-align: center;
	color: #FFFFFF
}
.induction-box::before{
	content: "他のユーザーからは以下のように見えています。編集したい場合はここをクリックしてください。";
}